body {
  margin: 0;
  padding: 0;
  background: whitesmoke;
  font-family: Poppins, sans-serif;
  color: #fff;
}

#mapid {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  height: 100vh
  }

.leaflet-popup-content {
  max-width: 35vw;
}

img.mainImage {
  max-width: 100%;
  align-content: center;
}

.information {
  position: absolute;
  top: 100vh;
}

.property {
  min-height: 100vh;
}

.carousel-item {
  width: 100vw;
}

#btn-back-to-top {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  cursor: pointer; /* Add a mouse pointer on hover */
}

.btn-styled {
  color: #827369;
  background-color: #e4e4e4;
  border-color: #827369;
}

.btn-styled:hover {
  color: #827369;
}

.btn-styled:focus {
  box-shadow: 0 0 0 .25rem rgba(226,226,226,.25);
}

h1 {
  position: absolute;
  z-index: 650;
  top: 10px;
  left: 15px;
  padding: 8px 15px;
  margin: 0;
  color: #827369;
  font-size: 1.5em;
  background: #e4e4e4;
  border-radius: 5px;
}

h3 {
  padding-top: 1em;
}

footer {
    padding: 6px 10%;
    width: 80%;
}

p {
    font-size: 1em;
    color: #001323;
}

.leaflet-marker-icon.neighborhoods {
  font-family: Poppins, sans-serif;
  font-size: 1.5em;
  text-align: center;
  color: rgba(25, 25, 25, 0.8);
  pointer-events: none;
  }

.legend {
  padding: 6px 8px;
  font-size: 1em;
  background: #e4e4e4;
  color: #827369;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 160px;
}

.legend h3 {
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1em;
  color: #827369;
  margin: 0;
}

.legend ul {
    list-style-type: none;
    padding: 0;
    margin: 12px 4px 0;
}

.legend li {
    height: 22px;
}

.legend span {
    width: 30px;
    height: 20px;
    float: left;
    margin-right: 10px;
}

.legend p {
  font-weight: bold;
  line-height: 1em;
  color: whitesmoke;
}
